fastapi
uvicorn
httpx
nltk
spacy
pysbd
transformers>=4.30.0
torch>=1.12.0
sentence-transformers
faiss-cpu
pydantic
pydantic-settings
pytest
PyJWT
redis
black
isort
biopython
python-dotenv
pytest-asyncio
mypy
types-requests
gradio
pandas
fpdf
streamlit
beautifulsoup4
