fastapi
uvicorn
httpx
nltk
pysbd
torch
transformers
sentence-transformers
faiss-cpu
pydantic
pydantic-settings
pytest
PyJWT
redis
black
isort
biopython
python-dotenv
pytest-asyncio
mypy
types-requests
gradio
pandas
fpdf
streamlit
beautifulsoup4
